@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tienda de Libros</h1>

    <div class="card-container">
        <div class="image-card perspective-left"></div>
        <div class="image-card2 perspective-right"></div>

    </div>

</div>
